body	 {
	background-color:#f4f4f4;
	color: #555555;

	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight: normal;
	/* same as above*/
	font: :normal 16px Arial,Helvetica,sans-serif;

	line-height:1.6em; 
	margin: 0;

}
.container{
	width: 500px;
	margin:auto;
}

.box-1{
	background-color: #333;
	color: #fff;

	border-right: 5px red solid;
	border-left: 5px red solid;
	border-top: 5px red solid;
	border-bottom: 5px red solid;
	border-width: 3px;
	border-bottom-width:10px;
	border-top-style: dotted;
    /* As above*/
	border: 5px red solid;

	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
     /* som as above*/
	padding:20px;

	margin-top:20px;
	margin:20px 0; 
}


.box-1{
	font-family: Tahoma;
	font-weight: 800;
	font-style: italic;
	/*
	text-decoration:underline;
	text-transform:uppercase;
	letter-spacing: 0.2em;
	word-spacing:1em;
	*/
}
.box-2{
	font-family: Tahoma;
	font-weight: 800;
	font-style: italic;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
     /* som as above*/
	padding:20px;

	margin-top:20px;
	margin:20px 0; 
	border: 3px dotted #ccc;
	padding: 20px;
	margin:20px 0;
	margin-top:20px;
	margin:20px 0; 

	/*
	text-decoration:underline;
	text-transform:uppercase;
	letter-spacing: 0.2em;
	word-spacing:1em;
	*/
}

.categories{
	border:1px #ccc solid;
	padding:10px;
	border-radius: 15px;

}
.categories h2{
	text-align: center;

}

.categories ul{
	padding:10px;
}

.button {
	background-color:green;
	color: white;
	padding: 8px 10px;
	border:groove;
}


.button:hover{
	background: red;
	color: #eff;
}
